html, body {height:100%; margin:0px !important; padding:10px; background: #333;}

.App {
  background: #fff;
  padding: 50px;
  height: 95vh;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 250px;
  position: relative;
}
